.env
.env.docker
.coverage
.idea
.venv/
frontend/node_modules/
frontend/dist/
__pycache__
*.py[cod]
app/__pycache__
app/controllers/__pycache__
app/db/__pycache__
app/repositories/__pycache__
app/schemas/__pycache__
app/services/__pycache__
app/tests/__pycache__
deployments/*.tfstate
deployments/*.tfstate.*
deployments/crash.log
deployments/crash.*.log
deployments/.terraform/
deployments/*.tfvars
deployments/*.tfvars.json
.vscode

