.env
.env.docker
.coverage
.idea
.venv/
frontend/node_modules/
frontend/dist/
__pycache__
*.py[cod]
app/__pycache__
app/controllers/__pycache__
app/db/__pycache__
app/repositories/__pycache__
app/schemas/__pycache__
app/services/__pycache__
app/tests/__pycache__
.vscode


# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/crash.log
**/crash.*.log
*.pdf



