version: "3.9"

services:
  backend:
    build:
      context: .
      args:
        APP_PORT: ${APP_PORT}
    container_name: job-board-api
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file: .env
    environment:
      HOST: 0.0.0.0
      PORT: ${APP_PORT}
      DB_HOST: mysql
      CACHE_HOST: redis
    depends_on:
      - mysql
      - redis
    volumes:
      - .:/app
    networks:
      - job-board-net

  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - job-board-net

  redis:
    image: redis:7
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - job-board-net

networks:
  job-board-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16

volumes:
  mysql-data:
  redis-data:
