services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    env_file:
      - .env.docker
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:${DB_PORT}" #Container:Host
    volumes:
      - mysql-data:/var/lib/mysql
      - ./tables:/docker-entrypoint-initdb.d #creates tables on start
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - job-board-net

  redis:
    image: redis:7
    container_name: redis-cache
    env_file:
      - .env.docker
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - job-board-net

  backend:
    build:
      context: .
      args:
        APP_PORT: ${PORT}
    container_name: job-board-api
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env.docker
    environment:
      ENV: docker
      HOST: 0.0.0.0
      DB_HOST: mysql
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
    networks:
      - job-board-net

networks:
  job-board-net:
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET}

volumes:
  mysql-data:
  redis-data:
