[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redoc = "*"
aniso8601 = "==10.0.1"
blinker = "==1.9.0"
click = "==8.3.0"
flask = "==2.3.3"
flask-restful = "==0.3.10"
jinja2 = "==3.1.6"
markupsafe = "==3.0.3"
pytz = "==2025.2"
six = "==1.17.0"
werkzeug = "==3.1.3"
python-dotenv = "==1.1.1"
flask-marshmallow = "==1.3.0"
bcrypt = "==5.0.0"
pyjwt = "==2.10.1"
redis = "==6.4.0"
black = "==25.9.0"
itsdangerous = "==2.2.0"
pymysql = "==1.1.2"
coverage = "==7.11.0"
flasgger = "==0.9.7.1"
cryptography = "==46.0.3"
gunicorn = "==22.0.0"
flask-cors = ">=4.0.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
